.utensil-list{
    display: flex;
    justify-content: space-between;
    p{
        width: 50%;
    }
}
.position-modal{
    position: absolute;
    top: 18%;  
    background-color: #fbf4f4;
    padding: 10px;
    border-radius: 20px;
}