<div *ngIf="!createForm; else nodisplay">
  <button
    type="button"
    class="btn btn-primary rounded-circle mt-5"
    (click)="toggleCreateForm()"
  >
    +
  </button>
</div>
<ng-template #nodisplay>
  <taba-creation-promotion
    (parentFunction)="toggleCreateForm()"
  ></taba-creation-promotion>
</ng-template>

```
<!-- List of promotions -->
<div class="container list-form-promotions">
  <ng-container *ngFor="let item of dataPromotion">
    <h3 class="my-3">{{ item.title }}</h3>
    <div>
      <button (click)="deletePromotion(item.id)" class="btn btn-danger mx-3">
        Excluir
      </button>
      <button (click)="onEditClicked(item.id)" class="btn btn-primary mx-3">
        Editar
      </button>
    </div>
  </ng-container>
</div>

<!-- EDIT PROMOTION -->
<div class="container editform-promotion mt-5" [hidden]="!editField">
  <button class="btn-close" (click)="hiddenEditModasl()">X</button>
  <h3>Edite a sua promoção</h3>
  <form #productEdit="ngForm" (ngSubmit)="onEdit(productEdit.value)">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Titulo </label>
      <input
        type="text"
        name="title"
        ngModel
        class="form-control"
        id="exampleFormControlInput1"
      />
    </div>
    <div class="mb-3">
      <label>Comments</label>
      <textarea
        class="form-control progress"
        style="height: 35vh"
        name="comment"
        ngModel
      ></textarea>
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Enviar</button>
    </div>
  </form>
</div>
