<div class="btn-add form-promotion">
  <button
    type="button"
    class="btn btn-primary rounded-circle"
    (click)="toggleCreateForm()"
  >
    +
  </button>
  <p>Adicione uma promoção</p>
</div>
<div *ngIf="createForm" class="position-modal">
  <taba-creation-promotion
    [title]="addPromotionModalTitle"
    (parentFunction)="toggleCreateEditForm($event)"
    [typeForm]="'add'"
    [editableObj]=""
  ></taba-creation-promotion>
</div>

<div *ngIf="editForm" class="position-modal">
  <taba-creation-promotion
    [title]="editPromotionModalTitle"
    (parentFunction)="toggleCreateEditForm($event)"
    [typeForm]="'edit'"
    [editableObj]="editableObj"
  ></taba-creation-promotion>
</div>

```
<!-- List of promotions -->
<div class="container list-form-promotions">
  <ng-container *ngFor="let item of dataPromotion">
    <h3 class="my-3">{{ item.title }}</h3>
    <div>
      <button (click)="deletePromotion(item.id)" class="btn btn-danger mx-3">
        Excluir
      </button>
      <button (click)="onEditClicked(item)" class="btn btn-primary mx-3">
        Editar
      </button>
    </div>
  </ng-container>
</div>
