.taba-header{
    position: relative;
    h1{
        text-align: center;
        font-family:"Leelawadee";
        color: #C3D5EB;
        position: relative;
        top:21px
    }
    div{        
        img{
            width: 100%;            
        }
    }
}