<div class="close-btn">
  <button (click)="closeFormCreate()">X</button>
</div>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <input type="hidden" name="comment" [ngModel]="environmentImages.comment" />
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Categoria das imagens
    </label>
    <select
      class="form-select"
      name="category"
      ngModel
      aria-label="Default select example"
    >
      <option [ngModel]="environmentImages.category" selected>
        Escolha o local da sua imagem
      </option>
      <option value="frontHome">Fachada</option>
      <option value="suíteRoom">Suite 1</option>
      <option value="livingRoom">Sala</option>
      <option value="kitchen">Cozinha</option>
      <option value="swimmingPool">Piscina</option>
      <option value="garden">Jardins</option>
      <option value="barbecueArea">Churrasco</option>
      <option value="pizzaArea">Pizza</option>
      <option value="ranchoArea">Rancho</option>
      <option value="aereo">Aéreo</option>
      <option value="secondSuite">Suite 2</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Imagem </label>
    <input
      type="text"
      name="image"
      ngModel
      class="form-control"
      id="exampleFormControlInput1"
    />
  </div>

  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Enviar</button>
  </div>
</form>
<div class="form-check my-5">
  <input
    class="form-check-input"
    type="checkbox"
    [(ngModel)]="stayOnThePage"
    id="flexCheckIndeterminate"
  />
  <label class="form-check-label" for="flexCheckIndeterminate">
    Mantenha preenchido para não sair da tela
  </label>
</div>
