<div class="close-btn">
  <button (click)="closeFormCreate()">X</button>
</div>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <input type="hidden" name="comment" [ngModel]="environmentImages.comment" />
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Categoria das imagens
    </label>
    <select
      class="form-select"
      name="category"
      ngModel
      aria-label="Default select example"
    >
      <option selected>Escolha o local da sua imagem</option>
      <option value="frontHome">Fachada</option>
      <option value="kitchen">Cozinha</option>
      <option value="restRoom">Banheiros</option>
      <option value="livingRoom">Sala de Estar</option>
      <option value="ranchoArea">Rancho</option>
      <option value="swimmingPool">Piscina</option>
      <option value="garden">Jardins</option>
      <option value="barbecueArea">Churrasco</option>
      <option value="pizzaArea">Forno de Pizza</option>
      <option value="suiteRoom">Suite </option>
      <option value="secondSuite">Segunda Suite</option>
      <option value="rooms">Quartos</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Imagem </label>
    <input
      type="file"
      name="image"
      ngModel
      class="form-control"
      (change)="onFileChange($event)"
      id="exampleFormControlInput1"
    />
  </div>

  <div class="col-auto" *ngIf="clickableButton;else nodisplay">
    <button type="submit" class="btn btn-primary mb-3">Enviar</button>
  </div>
  <ng-template #nodisplay class="col-auto">
    <button [disabled]="!clickableButton" type="submit" class="btn btn-primary mb-3">Enviando imagem...</button>
  </ng-template>  
</form>
<div class="form-check my-5">
  <input
    class="form-check-input"
    type="checkbox"
    [(ngModel)]="stayOnThePage"
    id="flexCheckIndeterminate"
  />
  <label class="form-check-label" for="flexCheckIndeterminate">
    Mantenha preenchido para não sair da tela
  </label>
</div>
