.taba-utensils{
    margin-top:160px;
   .search-field{
    border: solid .5px #C3D5EB;
    border-radius: 5px;   
    span{
        color: #C3D5EB;
    }
   }
    div{
        h3{
            font-family: Leelawadee;
            color:#4490EE;
            font-size: 30px;
            font-weight: bold;
            cursor:pointer;
    
        }
        .utensils-itens{
            display: flex;
            justify-content:space-between;
            align-items: center;

            p{
                color:#C3D5EB;
                font-size: 20px;
                max-width: 40%;    
            }
            div{
                overflow: hidden;
                max-width:50px;
                max-height:50px;
                border: .5px solid #4490EE;
                border-radius: 10px;
                img{
                    width: 100%;                    
                    object-fit: cover;     
                }
            };
        }
    }
    .back{
        position: fixed;
        top: 86%;
        left: 36%;
        z-index: 100;
        text-align: center;     
        font-weight: bold;
        margin: 4px;      
        font-family: 'Patrick Hand', cursive;
        font-size: 27px;
        color:#4490EE;
        box-shadow: 10px 10px 20px black;
        background-color:transparent;
        padding:7px 13px;
        cursor: pointer;
    }
}