.taba-utensils{
   .search-field{
    border: solid .5px #C3D5EB;
    border-radius: 5px;   
    span{
        color: #C3D5EB;
    }
   }
    div{
        h3{
            font-family: Leelawadee;
            color:#4490EE;
            font-size: 30px;
            font-weight: bold;
    
        }
        p{
            color:#C3D5EB;
            font-size: 27px;    
        }
    }
}