.overall{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18%;
    
}
.footer_position{
   position:fixed;
    bottom:0;
} 