.wrapper{
    max-width: 300px;
    margin-top:10px;
    img{
        width: 100%;
        cursor:pointer;
        
    }
}
.edit_field{
    position: absolute;
    width: 100%;  
    top: 167px;
    background: #C3D5EB;
    box-shadow: 10px 10px 20px black;
}

