/* You can add global styles to this file, and also import other style files */
.back{   
    text-align: center;
    font-weight: bold;
    margin: 4px;
    font-family: Ink Free;
    font-size: 27px;
    color: #4490EE;    
    }
    .close-btn{
        position: relative;
        top:-8px;
        right: -50px;
        width: 100%;
        button{
            position: relative;
            right: 70px;
            background: transparent;
            float: right;
            border: none;
            outline: none;
            color: black;
            font-size: 20px;
            cursor: pointer;
        }
    }