/* You can add global styles to this file, and also import other style files */
.back{   
    text-align: center;
    font-weight: bold;
    margin: 4px;
    font-family: Ink Free;
    font-size: 27px;
    color: #4490EE;    
    }