.title{
    text-align: left;
    font-family: Ink Free;
    font-size: 27px;
    color:#4490EE;
    margin-top: 25px;

}
.taba-container-route-icons{
    display: flex;
    flex-wrap: wrap;
    div{
        cursor:pointer;
        width: 31%;
        margin: 3px;
     //   max-height: 100px;    
     display: flex;
     flex-direction: column;
     align-items: center;
     .img_container{
         background-color:red;
          overflow: hidden;
                border-radius: 10px;
                margin: 1px;
                text-align: center;
                width: 100%;
                height: 100px;                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;                   
                }                
            }
            h3{
                text-align: center;
                font-size: 23px;
                color:#C3D5EB;
                font-family:Leelawadee;
            }    
    }
}