.taba-btn{    
    padding:5px;
    padding:20px;
    display: flex;
    justify-content: center;
    button{
        padding: 22px 10px;
        border-radius: 30px;
        border: none;
        background: #C3D5EB;
        width: 100%;
       span{
           font-family:Ink Free;
           color:#4490EE;           
           border: 1px solid #C3DBEB;
            font-size:22px

       }
    }    
}